<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
<div id="main">
    	<div class="fof">
        		<h1>You are already registered</h1>
    	</div>

<div class="full-width text-center"> 
    <p class="lead">
        <a class="btn btn-warning btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
  
  </div>
</div>