<div class="kultu">Join the mailing list</div>
<form action="/subscribe" method="POST" class="form-signin full-width text-center">  

  <label for="name" class="sr-only">First name</label>
  <input type="text" name="name" class="form-control" placeholder="First name" required autofocus>

  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" class="form-control" placeholder="Your email" required>

  <label for="emailConfirmation" class="sr-only">Email (confirm)</label>
  <input type="email" name="emailConfirmation" class="form-control" placeholder="Your email (confirm)" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Subscribe</button>
  <p class="coloriser mt-5 mb-3">&copy; Tuhinadri Banerjee</p>
</form>

