<div class="full-width text-center">
  <h1 class="display-3">Thank You, {{name}}!</h1>
  <p class="coloriser">Please check your email to confirm your subscription to our newsletter.</p>
  <p class="lead">
      <a class="btn btn-warning btn-sm" href="/register" role="button">Sign Up</a>
  </p>
</div>
