<h2 class="beautifysolo"><small class="text-muted">USERID :</small> {{userid}} </h2>
<h2 class="beautifydown">
    
     <small class="text-muted">Password :</small>
    
     {{userpass}}</h2>

<div class="full-width text-center">  
  <h1 class="lead">
      <a class="btn btn-warning btn-lg" href="/" role="button">Continue to homepage</a>
  </h1>
</div>